@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Это стартовая страница, которую я использую как небольшую инструкцию.</p>
    <p>Есть навигационные кнопки в виде текста, нажав на которые можно перейти на страницы с курсами валют и т.д.</p>
</div>
