@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Эта страница создаётся по умолчанию. Я её просто не удалял, а лишь скрыл в наивгационном меню</p>
<p>Но если уж так хотелось сюда зайти, то была оставлена ссылка в footer-е этого проекта</p>
